/.vscode
/alvi.html
/cssstyle.css
/game.html
/hasnain.html
/it's seeze websites.html
/JS1.html
/js10.html
/js11.html
/js12.html
/js13.html
/js14.html
/js15.html
/JS2.html
/JS3.html
/JS4.html
/jS45.html
/js6.html
/JS7.html
/JS8.html
/js9.html
/main.html
/new.html
/script.js
/script55.js
/tu18.html
/tut.html
/tut10.html
/tut11.html
/tut12.html
/tut13.html
/tut15.html
/tut16.html
/tut17.html
/tut19.html
/tut20.html
/tut21.html
/tut26.html
/tut27.htm
/tut28.html
/tut32.html
/tut4.html
/tut5.html
/tut6.html
/tut7.html
/tut8.html
/tut9.html